<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Amd-o-Raft</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Header -->
    <header>
        <div class="intro-text">
                        <span class="name">آمد و رفت </span>
                        <hr class="star-light">
                    </div><div class="container">
            <div class="row">
            <center>
                <div class="col-lg-2 col-md-2">
                    <a href="complaints.html">
                        <img class="img-responsive" src="img/complaint.png" alt="" />
                        <span class="icontitle">کمپلین</span>
                        <span class="icontitle">complaints</span>
                    </a>
                    
                </div>
                <div class="col-lg-2 col-md-2">
                    <a href="ratecalculator.html">
                        <img class="img-responsive" src="img/calculator.png" alt="" />
                        <span class="icontitle">ریٹ کیلکولیٹر</span>
                        <span class="icontitle">rate calculator</span>
                    </a>
                    
                </div>
                <div class="col-lg-4 col-md-2">
                    <a href="createroute.html">
                        <img class="img-responsive" src="img/createroute.png" alt="" />
                        <span class="icontitle">روٹ بناین</span>
                        <span class="icontitle">create tour</span>
                    </a>
                    
                </div>
                <div class="col-lg-2 col-md-2">
                    <a href="allroutes.html">
                        <img class="img-responsive" src="img/route.png" alt="" />
                        <span class="icontitle">تمام روٹس </span>
                        <span class="icontitle">all routes</span>
                    </a>
                    
                </div>
                <div class="col-lg-2 col-md-2">
                    <a href="alldestinations.html">
                        <img class="img-responsive" src="img/destinations.png" alt="" />
                        <span class="icontitle">تمام منزلیں </span>
                        <span class="icontitle">all destinations</span>
                    </a>
                    
                </div>
                </center>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="facebook.com/itwaly" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="twitter.com/it_waly" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="linkedin.com/itwaly" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>About Amd-O-Raft</h3>
                        <p>Civic application developed at Islamabad Civic Hackathon 2016 by <a href="http://codeforpakistan.org">Code For Pakistan</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Amd-o-Raft 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

   
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
