{% extends "publicbase.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div class="container">
      <h1>Login</h1>

      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
        <input type="text" placeholder="Password" name="password" value="{{ request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

    </div>
{% endblock %}